body {
    margin: 15px;
}

/* Game - Flex Box */
#game {
    display: flex; 
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

/* Default text */
p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 12px;
    margin-top: 0px;
}

/* Input Box - Flex Box */
#input-box {
    display: none;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    align-self: center;
    box-sizing: border-box;
    background: #3BB143;
    border: 5px solid #0D98BA;
}

#input-box input {
    padding: 10px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: none;
}

/* Buttons */
.standard {
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}

.standard:hover {
    background-color: #d62424;
    color: white;
}

#submit {
    position: relative;
    align-self: center;
    margin-top: 15px;
}

#replay {
    display: none;
    position: absolute;
    align-self: center;
    top: 560px;
}